/* You can add global styles to this file, and also import other style files */


@import '~@angular/cdk/overlay-prebuilt.css';
@import '~@angular/cdk/a11y-prebuilt.css';


body {
  margin: 50px;
}

button {
  height: 30px;
  width: 60px;
  font-size: 18px;
}

.color-picker {
  width: 190px;
  height: 190px;
  padding: 8px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

[role="option"] {
  display: inline-block;
  height: 25px;
  width: 25px;
  margin: 10px;
  cursor: pointer;

  padding: 5px;
  border: 4px solid transparent;
  border-radius: 50%;
}

.active-option,
[role="option"]:hover {
  border: 4px solid black;
}
